@import '../../styles/main.scss';

.StartButton {
  width: 80px;
  height: 32px;
  border-radius: 5px;
  background-image: $button-background;
  font-weight: 600;
  font-size: 12px;
  transition-duration: 0.3s;
  color: $dark-blue;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background-image: none;
    border: 1px solid $green;
    color: $blue;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}
