@import '../../styles/main.scss';

.Grid {
  display: flex;

  &__content {
    display: grid;
  }

  &__cell {
    width: 35px;
    height: 35px;
    outline: 1px solid $blue;
    background-color: $white;

    &:hover {
      cursor: pointer;
    }
  }
}

.hovered {
  background-image: $cell-background;
}
