@import '../../styles/main.scss';

.ErrorModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $modal-background;

  &__content {
    position: relative;
    width: 50vw;
    height: 40vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;    
  }

  &__info {
    text-align: center;
    font-size: 16px;
    color: $dark-pink;
    font-weight: 500;
  }

  &__button {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    right: 10px;
    background-size: contain;
    background-image: url('../../assests/close.svg');

    &:hover {
      cursor: pointer;
      background-color: $modal-background;
      border-radius: 5px;
    }
  }
}
