$main-background: linear-gradient(to right, #09203f 0%, #537895 100%);
$modal-background: #314758a8;
$cell-background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
$blue-background: #b0c4de;
$button-background: linear-gradient(15deg, #13547a 0%, #64a29b 100%);
$blue: #a6c0fe;       
$dark-blue:#243251;
$white: #fff0f5;
$pink: #f68084;
$green: #64a29b;
$dark-pink: #de4465c3;
