@import './styles/main.scss';

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: $main-background;
  color: $pink;

  &__top {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;    
  }

  &__logo {
    width: 36px;
    height: 36px;
    background-image: url('./assests/logo.png'); 
    background-size: contain;
  }

  &__main {
    padding: 40px 0 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__game {   
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 80%;

    &-control {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-bottom: 100px;
    }

    &-content {
      display: flex;
      gap: 40px;
      @include onTablet {
        flex-direction: column;
      }
    }
  }
}

.container {
  padding-inline: 10%;
  @include onTablet {
    padding-inline: 5%;
  }
}
